<app-sample [all]="getTotalEmployeesCount()" [male]="getTotalMaleEmployeesCount()" [female]="getTotalFemaleEmployeesCount()"
  (countRadioButtonSelectionChanged)="onemployeeCountRadioButtonChnage($event)"
  >
</app-sample>
<div *ngFor="let item of employees">
<ng-container  *ngIf="selectedEmployeeCountRadioButton=='all' || selectedEmployeeCountRadioButton==item.gender">
  
    <table>
      <tr>
        <td>{{item.name}}</td>
        <td>{{item.field}}</td>
        <td>{{item.salary}}</td>
        <td>{{item.gender}}</td>
      </tr>
    </table>
  </ng-container>
  </div>

<router-outlet></router-outlet>